html {
  background-image: url(back_dark.png);
  background-repeat: repeat;
}
body{
    background-color:transparent;
}

.card {
  position:absolute;
    left:0; right:0;
    /* top:50%; bottom:50%; */
    top:10%;
	margin:auto;

  width: 35%;
  height: auto;
}
